.movie-page {
  margin: 0 auto;
  width: 800px;

  &__header {
    padding-top: 20px;
    font-size: 12px;
    background-color: #262b33;
  }

  &__top-line {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__header-title {
    color: #e05f74;
  }

  &__search-button-wrapper {
    align-self: center;
  }

  &__main {
    outline: 1px dashed green;
  }

  &__footer {
    height: 50px;
    background-color: #262b33;
    color: #e05f74;
  }
}
