.app {
  margin: 0 auto;
  width: 800px;

  &__header {
    padding-top: 20px;
    height: 200px;
    font-size: 12px;
    background-color: #262b33;
  }

  &__header-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #e05f74;
  }

  &__main {
  }

  &__footer {
    height: 50px;
    background-color: #262b33;
    color: #e05f74;
  }
}

